<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkupHelper.Service.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MarkupHelper.Service.config>
            <setting name="ServiceEndpoint" serializeAs="String">
                <value>net.tcp://localhost:8018/</value>
            </setting>
            <setting name="SeqServer" serializeAs="String">
                <value>http://localhost:5341</value>
            </setting>
            <setting name="MongodbConnectionString" serializeAs="String">
                <value>mongodb://localhost:27017/VkontakteMarkup</value>
            </setting>
            <setting name="TargetDatabase" serializeAs="String">
                <value>VkontakteMarkup</value>
            </setting>
            <setting name="TagLimitPerUser" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GroupMarkupsLimit" serializeAs="String">
                <value>15</value>
            </setting>
        </MarkupHelper.Service.config>
    </userSettings>
</configuration>