<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net452" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net452" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net452" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Enrichers.Environment" version="2.1.2" targetFramework="net452" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Seq" version="3.4.0" targetFramework="net452" />
</packages>